**Integer and float**

In [ ]:
x, y = 10, 3
print(x + y)  # 13
print(x ** y)  # 1000
print(7 // 2)  # 3

print("===========================")
a,b = 5, 3
print(a & b)  # Binary: 0001 -> Decimal: 1
print(a | b)  # Binary: 0111 -> Decimal: 7
print(a ^ b)  # Binary: 0110 -> Decimal: 6 (XOR)
print(~a)  # Binary: 11111111111111111111111111111101 -> Decimal: -6
print(a<<1) # # Shift left by 1 -> Binary: 1010 -> Decimal: 10
print(a>>1) # # Shift right by 1 -> Binary: 0010 -> Decimal: 2

print("===========================")
z = 5.555
print(round(z, 2))
print(f"{z:.2f}")

13
1000
3
===========================
1
7
6
-6
10
2
===========================
5.55
5.55

**String**

In [ ]:
s = "hello world"
print(s.upper())  # HELLO WORLD
print(s.replace("world", "Python"))  # hello Python
print(s[1:4]) #slicing
print(len(s))
print(s.split()) #split into list of words

HELLO WORLD
hello Python
ell
11
['hello', 'world']

**List**

In [ ]:
lst = [1, 2, 3]
lst.append(4)
print(lst)  # [1, 2, 3, 4]
lst.pop()  # Removes last element
print(lst)  # [1, 2, 3]
lst.extend([4,5])
print(lst) #[1, 2, 3, 4, 5]
lst.insert(1, 0)
print(lst) #[1, 0, 2, 3, 4, 5]
lst.remove(0) #Removes first occurrence of an item
print(lst) #[1, 2, 3, 4, 5]
lst.pop(0) #Removes and returns an item by index
print(lst) #[2, 3, 4, 5]
lst.reverse()
print(lst) #[5, 4, 3, 2]
lst.sort()
print(lst) #[2, 3, 4, 5]

[1, 2, 3, 4]
[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 0, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[5, 4, 3, 2]
[2, 3, 4, 5]

**Tuple**
(Immutable list)

In [ ]:
tpl = (1, 2, 3, 2)
print(tpl.count(2))  # 2
print(tpl.index(3))  # 2

2
2

**Set**

In [ ]:
s1, s2 = {1, 2, 3}, {3, 4, 5}
s1.add(4)
s1.remove(4)
print(s1 | s2)  # {1, 2, 3, 4, 5} union
print(s1 & s2)  # {3} intersection
print(s1 - s2)  # {1, 2} difference
print(s1 ^ s2)  # {1, 2, 4, 5} symmetric difference

{2, 3, 4, 5}
{3}
{2}
{2, 4, 5}

**Dictionary**

In [ ]:
d = {"a": 1, "b": 2}
print(d.get("a"))  # 1 Gets value by key
d["c"] = 3 #Adds or updates key-value pairs
print(d)  # {'a': 1, 'b': 2, 'c': 3}
d.pop('c') #Removes a key-value pair
print(d) #{'a': 1, 'b': 2}
print(d.keys())
print(d.values())
print(d.items()) #Returns key-value pairs as tuples

1
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2}
dict_keys(['a', 'b'])
dict_values([1, 2])
dict_items([('a', 1), ('b', 2)])